@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: roboto;
    src: url("@/assets/fonts/roboto/Roboto-Regular.ttf");
  }
  @font-face {
    font-family: sans;
    src: url("@/assets/fonts/iranSans/sans.ttf");
  }
}

@layer utilities {
  .gradient {
    background: linear-gradient(113deg, #493240 0%, #f09 100%);
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.msg-enter-active,
.msg-leave-active {
  opacity: 0;
  transition: all 0.3s linear;
}
.msg-enter-to,
.msg-leave-to {
  opacity: 1;
}

*::-webkit-scrollbar {
  display: none;
}
